<div>
    <h2>One way data binding using  - Property binding</h2>
    <input type="text" value="Ajay"/><br/>
    <input type="text" value="lname"/><br/>
    <input type="text" [value]="lname"/><br/>
    <p [innerText]="lname"></p>
    <br/>
    <input type="button" value="click here"/>
    <input type="button" value="click here" disabled/>
    <input type="button" value="click here" disabled="true"/>
    <input type="button" value="click here" disabled="false"/>
    <input type="button" value="click here" disabled={{f1}}/>
    <input type="button" value="click here" [disabled]="f2"/>
</div>