<div>
    <h2>Product Management System</h2>
<form #productRef = "ngForm" (ngSubmit)="storeProduct(productRef)">
    <label>PId</label>
    <input type="number" name="pid" ngModel/><br/>
    <label>PName</label>
    <input type="text" name="pname" ngModel/><br/>
    <label>Price</label>
    <input type="number" name="price" ngModel/><br/>
    <label>URL</label>
    <input type="url" name="url" ngModel/><br/>
    <input type="submit" value="store product"/>
    <input type="reset" value="reset"/>
</form>
<br/>
<div *ngIf="flag">
    <h2>Update Product Price</h2>
    <form (ngSubmit)="updateProductFromDb()">
        <label>PId</label>
        <input type="number" name="pid" [(ngModel)]="pid" readonly/><br/>
        <label>Price</label>
        <input type="number" name="pname" [(ngModel)]="price"/><br/>
        <input type="submit" value="update product"/>
    </form>
</div>
<br/>
<span style="color:red">{{storeMsg}}</span>
    <table>
        <tr>
            <th>PId</th>
            <th>PName</th>
            <th>Price</th>
            <th>URL</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        <tr *ngFor="let product of products">
            <td>{{product.pid}}</td>
            <td>{{product.pname}}</td>
            <td>{{product.price}}</td>
            <td><img src={{product.url}} width="100" height="100"/></td>
            <td><input type="button" value="delete" (click)="deleteRec(product.pid)"/></td>
            <td><input type="button" value="update" (click)="updateRec(product)"/></td>
        </tr>
    </table>
</div>